*.pyc
*~
__pycache__/
db.sqlite3
.env
.env.prod
reward/
staticfiles/
media/
django.log
.DS_Store
*.sqlite3
*.pot
*.po
*.mo
__pycache__
*.egg-info/
dist/
build/
.eggs/
*.db
config/core/migrations/*.pyc
*.key
*.pem
*.cert
nginx/ssl/
.venv/
